services:
  web:
    platform: linux/amd64
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "3000:3000"
    env_file:
      - .env
    environment:
      - DB_FILE=/app/data/sqlite.db
    volumes:
      - /root/SwiftTasks/sqlite.db:/app/data/sqlite.db
    restart: unless-stopped