services:
  web:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "3000:3000"
    env_file:
      - .env
    volumes:
      - ./sqlite.db:/app/data/sqlite.db
    restart: unless-stopped

volumes:
  sqlite-data:
